nav{
    margin-top: 10px;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: chocolate;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(8, 8, 8);
}
p{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: medium;
}
var{
    color: black;
}
label{
    color: maroon;
}
footer{
    margin-top:auto ;
    
}

